@import './variables.css';

@font-face {
  font-family: 'GerstnerProgramm';
  src: url(./fonts/Gerstner-ProgrammRegular.woff2) format('woff2'),
    url(./fonts/Gerstner-ProgrammRegular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GerstnerProgramm';
  src: url(./fonts/Gerstner-ProgrammLight.woff) format('woff'),
    url(./fonts/Gerstner-ProgrammLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GerstnerProgramm', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--black);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: var(--weightNormal);
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}
