:root {
  --black: #111111;
  --white: #ffffff;
  --gray: rgba(0, 0, 0, 0.4);
  --darkgray: rgba(25, 25, 25, 1);
  --lightgray: rgba(35, 35, 35, 1);
  --superlightgray: rgba(120, 120, 120, 1);
  --orange: #ff6f3b;

  --fontBody: 1.5rem; /*24px*/
  --fontBodyLarge: 2rem; /*32px*/

  --weightLight: 300;
  --weightNormal: 400;
}
