:root {
  --black: #111111;
  --white: #ffffff;
  --gray: rgba(0, 0, 0, 0.4);
  --orange: #ff6f3b;

  --fontBody: 1.5rem; /*24px*/
  --fontBodyLarge: 2rem; /*32px*/

  --weightLight: 300;
  --weightNormal: 400;
}
